@model musicDojo.Models.HybridModel
@using musicDojo.Models;

@{
    ViewData["Title"] = "AllDojoSongsController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello!  These are all the songs in our hub.</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.songModel.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.songModel.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.songModel.Adds)
            </th>
            <th>
                <p>Add to my playlist.</p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.songs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist
               )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adds)
                </td>
                <td>
                    @* This hidden form auto-creates and posts the selected song to the users play list. *@
                    <form method="post" asp-action="ToPlaylist" asp-controller="Song">
                        <div class="form-group">
                            <input asp-for="songModel.ID" input-type="text" type="hidden" value="@item.ID" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-default" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-action="AddSong" asp-controller="Song">
    <div class="form-group">
        <label for="Artist">Artist</label>
        <input type="text" asp-for="songModel.Artist" />
        <label for="Title">Title</label>
        <input type="text" asp-for="songModel.Title" />
    </div>

    <input type="submit" />
</form>