@model musicDojo.Models.HybridModel
@using musicDojo.Models;

@{
    ViewData["Title"] = "AllDojoSongsController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @User!  All the songs in our hub.</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.songModel.Artist)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.songModel.Title)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.Title)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.songModel.Adds)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.Adds)
        </dd>*@
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

//Form to add a song to the SongsDB.mdf
<form method="POST" asp-action="AddSong" asp-controller="Song">
    <div class="form-group">
        <label for="Artist">Artist</label>
        <input for="Artist" />

        <label for="Title">Title</label>
        <input for="Title" />
    </div>
    
    <input type="submit" />
</form>
